<div>
  <h2>Your hand: </h2>

  <p><%= @first_card %> <%= @second_card %> <%= @first_hit_player %> = <%= @hand_total %></p>

  <div>
    <button type="button" class="btn btn-default btn-lg">Deal</button>
    <button type="button" class="btn btn-default btn-lg">Hit</button>
    <button type="button" class="btn btn-default btn-lg">Stay</button>
  </div>
</div>

<div>
  <h2>Dealer's hand: </h2>

  <%= @dealer_first_card %>
  <%= @dealer_second_card %>
  <%= @dealer_hit %> =
  <%= @dealer_total %>
</div>

<div>
  <h1> <%= @result %> </h1>
</div>

