<h1>Your hand: </h1>

<%= @first_card %>
<%= @second_card %>
<%= @hand_total %>

  <div>
    <button type="button" class="btn btn-default btn-lg">Deal</button>
    <button type="button" class="btn btn-default btn-lg">Hit</button>
    <button type="button" class="btn btn-default btn-lg">Default</button>
  </div>

<h1>Dealer's hand: </h1>


<%= @dealer_first_card %>
<%= @dealer_second_card %>
<%= @dealer_total %>
